html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

/* html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    display: block;
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    height: auto;
    object-fit: contain;
    
} */